
.card-title,h2,h3,.form-label,.btn,.nav-link {
    font-family: 'Almarai', sans-serif;
}

.card-text,.about-us-p{
    font-family: 'Scheherazade', serif;
    font-size: 1.5rem;
}

img{
    border-radius: 50%;
    border-style: solid;
    border-color: darkgray;
}

td{
    vertical-align: middle;
}
